body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

a {
    width: 100%;
    padding: 1.5rem;
    box-shadow: inset 0 0 10px 1px black;
    font: bold 2rem Tahoma, sans-serif;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: white;
}

a:hover {
    filter: brightness(90%);
}